<% if current_user %>
  <h1>Add A New Paint!</h1>

  <div class="submitted-reviews">
  	<%= form_for [@paints, @reviews] do |f| %>

    	<%= f.label :title, 'Title' %>
    	<%= f.text_field :title %>

    	<%= f.label :body, 'Body' %>
    	<%= f.text_field :body %>

    	<%= f.label :rating, 'Category' %>
    	<%= f.text_field :rating %>

    	<%= f.submit 'Add Review!' %>
    <% end  %>
<% else %>
 <h1>Please sign in to add a new place!</h1>
<% end %>
  </div>
